:root{
	--bitcoinOrange: #F7931A;
	--softOrange: #FFE9D5;
	--secondaryBlue: #1A9AF7;
	--softBlue: #E7F5FF;
	--warmBlack: #201E1C;
	--blackPlus: #282623;
	--grey: #BABABA;
	--ofWhite: #FAF8F7;
	--justWhite: #FFFFFF;
}

*{
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	font-family: 'DM Sans', sans-serif;

	scroll-behavior: smooth;
}
body{
	background-color: var(--ofWhite);
}

/*--------Header--------*/
.header{
	width: 100%;
	height: 295px;
	text-align: center;
	margin-bottom: 59px;
	background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header img{
	margin-top: 42px;
	margin-bottom: 36px;
}
.text-header{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.text-header h1{
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 26px;
	color: var(--justWhite);
	/*margin-top: 0;
	margin-bottom: 24px;*/
	margin: 0 20px 24px;
}

.text-header p{
	margin: 0 24px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 18px;
	color: var(--softOrange);
}

.buttom-header{
	position: absolute;
	top: 266px;
	left: calc(50% - 118px);
	padding: 15px 32px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: var(--warmBlack);
	background-color: var(--ofWhite);
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	border-radius: 4px;
}

.icon{
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 10px;
}

.buttom-header span{
	background-image: url(../asets/icon/arrow-down.svg);
}

/*---------Main----------*/

/*--Exchange Section--*/
.main-exchange-conteiner{
	width: 100%;
	text-align: center;
}

.main-exchange-img{
	margin-bottom: 40px;
}
/*text*/
.main--text{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: center;
}
.main--text h2{
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 26px;
	margin: 0 1px 24px;
}
.main--text p{
	margin-bottom: 48px;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 18px;
	color: #757575;
}
/*table*/
.main-exchange-table{
	position: relative;
	overflow: hidden;
}
.conteiner__tables-conteiner{
	position: relative;
	left: 0;
	display: flex;
	transition: all .4s;
}
.table-conteiner{
	width: 70%;
	min-width: 224px;
	height: 156px;
	height: auto;
	margin: 0 calc(50% - 112px);
}
.table{
	width: 100%;
	height: auto;
	background-color: white;
	margin-bottom: 16px;
}
.table td{
	width: 50%;
	height: 39px;
	font-family: Inter;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.9rem;
	color: #B5B0AC;
}
.title-table-monedas, 
.title-table-comisiones{
	padding-bottom: 12px;
	margin-left: 1.7em;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 23px;
	text-align: left;
}
.title-table-monedas{
	color: var(--bitcoinOrange);
}
.title-table-comisiones{
	color: var(--secondaryBlue);
}

.table{
	border-radius: 8px;
}
.down{
	height: 10px;
	background-image: url(../asets/icon/trending-down.svg);
}
.up{
	height: 10px;
	background-image: url(../asets/icon/trending-up.svg);
}
.table-description-money{
	padding: 8px;
	margin-bottom: 64px;
	font-size: 1.2rem;
	text-align: center;
	border-radius: 8px;
}
.table1{
	background-color: var(--softOrange);
}
.table2{
	background-color: var(--softBlue);
}

/*--Section Product--*/
.main-product-detail{
	padding-top: 64px;
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 46px;
	background-color: #201e1c;
}
.logo-float{
	position: absolute;
	transform: scaleX(-1);
	top: -10px;
	left: calc(50% - 25px);
}
.main-product-text{
	margin: 0 auto 32px;
	width: 90%;
	text-align: center;
}
.main-product-text h2{
	margin-bottom: 24px;
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 2.6rem;
	color: var(--justWhite);
}
.main-product-text p{
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: #808080;
}
.product-carts-conteiner{
	width: 90%;
	margin: 0 auto;
}
.main-product-card{
	width: 100%;
	margin-bottom: 16px;
	background-color: var(--blackPlus);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
}
.icon-product{
	width: 25px;
	height: 25px;
	margin: 16px 18px 12px;
}
.clock{
	background-image: url(../asets/icon/clock.svg);
}
.eye{
	background-image: url(../asets/icon/eye.svg);
}
.dollar-sign{
	background-image: url(../asets/icon/dollar-sign.svg);
}
.check-circle{
	background-image: url(../asets/icon/check-circle.svg);
}

.main-product-card h3{
	margin: 0 16px 10px;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 1.8rem;
	color: var(--justWhite);
}
.main-product-card p{
	margin: 0 16px 20px;
	padding-bottom: 22px;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: #808080;
}

/*--Section background image--*/
.main-img-background{
	width: 100%;
	height: 50vh;
	margin-bottom: 64px;
	background-image: url(../asets/img/bitcoinbaby.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.main-img-background p{
	padding-top: 65px;
	margin: 0;
	text-align: center;
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 2.6rem;
	color: var(--justWhite);
}

/*--Section plan--*/
.main-plan{
	padding-bottom: 65px;
}
.plan-text{
	margin-bottom: 50px;
}
.main-plans-card{
	position: relative;
	width: 100%;
	padding-top: 20px;
	overflow: hidden;
}
.plans-card__container{
	position: relative;
	left: -110%;
	display: flex;
	transition: all .4s;
	text-align: center;
}

.recommended{
	display: inline-block;
	position: absolute;
	top: -25px;
	left: calc(50% - 45px);
	padding: 8px;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 1.5rem;
	border-radius: 8px;
	color: var(--justWhite);
	background-color: var(--bitcoinOrange);
}
.plan-recommended{
	position: relative;
}
.plans-card{
	width: 190px;
	min-width: 190px;
	margin: 0 calc(50% - 80px);
	padding-bottom: 24px;
	background-color: var(--justWhite);
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	border-radius: 8px;
}
.plans-card h3{
	padding-top:31px;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: #000;
}

.price{
	margin: 0;
	font-weight: bold;
	font-size: 5.2rem;
	line-height: 6.3rem;
	letter-spacing: -0.08em;
}
.price span{
	position: relative;
	top: -25px;
	/*left: 10px;*/
	right: 10px;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.5rem;
}
.plans-card-text{
	margin: 0 16px 16px;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
}
.plans-card button{
	padding: 15px 16px;
	margin: 0 20px;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: var(--warmBlack);
	background-color: var(--ofWhite);
	border: 2px solid var(--bitcoinOrange) ;
	border-radius: 4px;
}
.arrow-right{
	width: 20px;
	height: 20px;
	margin-left: 13px;
	background-image: url(../asets/icon/arrow-right.svg);
}

.buton__plans-card{
	position: absolute;
	top: calc(50% - 25px);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--justWhite);
	border: 0 transparent;
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.089);
}
.buton__plans-card--left{
	left: 10px;
}
.buton__plans-card--right{
	right: 10px;
}
.buton__plans-card--exchang{
	top: calc(50% - 70px);
}
/*---------footer---------*/
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 150px;
	background-color: var(--bitcoinOrange);
}
.footer-links a{
	display: flex;
	margin-left: 65px;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: var(--justWhite);
}
.footer-logo{
	margin-right: 58px;
	font-weight: 500;
	font-size: 8px;
	line-height: 18px;
	color: var(--softOrange);
}

